.container {
  width: 400px;
  height: 600px;
  background: #ddd;
  margin: 0 auto;
  margin-top: 30px;
}
.UI {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 20% 80%;
  grid-template-areas: "head head head" "left char righ";
  align-content: center;
}
.UI_header-text {
  grid-area: head;
  display: flex;
  justify-content: center;
  color: #777;
}
.UI_character-container {
  grid-area: char;
  justify-self: center;
  background: #aaa;
  width: 300px;
  height: 450px;
}
.UI_arrow_left {
  grid-area: left;
  height: 15px;
  font-size: 2px;
}
.UI_arrow_right {
  grid-area: right;
  height: 15px;
  font-size: 2px;
}
