@import "index-var.styl"



test-var = blue 

arrow-btn-hight = 40px
arrow-btn-width = 40px
arrow-size = 20px


.container
    width: 400px
    height 600px
    background: #ddd

    margin: 0 auto
    margin-top: 30px 



.UI
    display: grid
    grid-template-columns: 1fr 4fr 1fr
    grid-template-rows: 1fr 5fr
    grid-template-areas:  
        "head head head"\
        "left char righ"

    &__header-text
        grid-area: head
        
        display: flex
        justify-content: center
        color: #777

    &__character-container
        grid-area: char

        justify-self: center
        // background: #aaa
        // width: 300px
        position relative
        height 450px
        display: flex
        flex-wrap: nowrap

        
        // CHRACTER AREA
        
        .character
            position: relative
            right: 20px 
            width: 300px
            border: solid black
            background: rgba(122,0,0,0.2)
            margin: 30px
            padding: 20px


    &__arrow-left
        grid-area: left 
        height: arrow-btn-hight
        font-size: arrow-size
    
    &__arrow-right
        grid-area: right
        height: arrow-btn-hight
        width: arrow-btn-width
        font-size: arrow-size


