.container {
  width: 400px;
  height: 600px;
  background: #ddd;
  margin: 0 auto;
  margin-top: 30px;
}
.UI {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "head head head" "left char righ";
}
.UI__header-text {
  grid-area: head;
  display: flex;
  justify-content: center;
  color: #777;
}
.UI__character-container {
  grid-area: char;
  justify-self: center;
  position: relative;
  height: 450px;
  display: flex;
  flex-wrap: nowrap;
}
.UI__character-container .character {
  position: relative;
  right: 20px;
  width: 300px;
  border: solid #000;
  background: rgba(122,0,0,0.2);
  margin: 30px;
  padding: 20px;
}
.UI__arrow-left {
  grid-area: left;
  height: 40px;
  font-size: 20px;
}
.UI__arrow-right {
  grid-area: right;
  height: 40px;
  width: 40px;
  font-size: 20px;
}
