body{
    margin: 0;
    padding: 0;
    /* min-height: 100vh; */
    display: grid;
    /* border: solid black 13px; */
    background: #111;
    /* transform: scale(.4); */
    /* transform: scale(0.7); */
    /* position: absolute; */
    /* top: -200px;
    left: -250px; */

}

.container{
    display: flex;
    /* align-self: center; */
    justify-self: center;
    /* top: -100px; */
}

#backgroundImage{

    position: absolute;
    overflow: hidden;
    max-height: 1000px;
    width: 100%;
    z-index: -1;
}


.dice-grapics-container{
    position: relative;
    opacity: 0.7;
    bottom: -110px;
    right: -101%;
    /* top: 400px;
    left: 100px; */
    cursor: pointer;
}
.dice-grapics-container img{
    width: 120px;
}

.dice-roll-anim{
    animation: 1s roll;
}

@keyframes roll{
    0%  {transform: rotate(0deg)}
    100% {transform: rotate(3395deg)}

}

.top-tiles{
    display: flex;
}
.bottom-tiles{
    display: flex;
    flex-direction: row-reverse;
}
.left-tiles{
    display: flex;
    flex-direction: column-reverse;
}
.tile{
    text-indent: 9999px;
    opacity: 0.5;
    position: relative;
    width: 116px;
    height: 116px;
    background: rgba(192, 192, 192, 0.582);
    border: solid rgba(255, 255, 255, 0.527);
    list-style: none;
    color: white;
    font-size: 40px;
    text-align: center;
}
.top-tiles      {grid-area: top;}
.bottom-tiles   {grid-area: bot;}
.right-tiles    {grid-area: rig;}
.left-tiles     {grid-area: lef;}

.top-tiles > .tile {border: rgb(255, 255, 255) solid 2px;}
.bottom-tiles > .tile {border: rgb(255, 255, 255) solid 2px;}
.right-tiles > .tile {border: rgb(255, 255, 255) solid 2px;}
.left-tiles > .tile {border: rgb(255, 255, 255) solid 2px;}

/* .top-tiles > .tile {border: salmon solid 2px;}
.bottom-tiles > .tile {border: seagreen solid 2px;}
.right-tiles > .tile {border: royalblue solid 2px;}
.left-tiles > .tile {border: rebeccapurple solid 2px;} */

.left-tiles {justify-self: end;}

ol{
    margin: 0;
}

.board-container{
    /* opacity: 0.4; */
    display: grid;
    row-gap: 0;
    column-gap: 0;
    grid-template-areas: 
        "top top top"
        "lef . rig"
        "bot bot bot";
        
    transform: perspective(1200px) rotateX(25deg);
}
.board-container-positioning{
    position: relative;
    left: -25px;
    transform: scale(0.6);
}


.players{
    height: 116px;
    width: 116px;
    color: white;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 50px;
    text-align: center;
}

#player1{
    /* background: rgba(40, 212, 97, 0.514); */
    position: absolute;
}
#player2{
    /* background: rgba(182, 211, 17, 0.507); */
    position: absolute;
    top: 0;
    left: 240px;
}


.board-pice-posisioner{
    transform: scale(0.25);
    position: relative;
    top: -320px;
    left: -50px;
}
.board-pice{
    box-shadow: 0 14px 2px -2px rgb(0, 0, 0);
    transform: rotateX(-10deg);
}

#player2Img{
    display: grid;
    position: relative;
    top: 160px;
    left: 50px;
    /* background: rgba(231, 37, 37, 0.445); */
}


/* ______________________________________________________ */





.game-gui-container{
    position: fixed;
    width: 160%;
    height: 600px;
    background: rgba(41, 0, 221, 0.404);
    bottom: -700px;
    left: -35%;

    display: grid;
    align-items: center;
    justify-items: center;
}

/* ------ UI-BTNS -------- */

.role-dice-btn{
    position: relative;
    top: -280px;
    width: 400px;
    height: 200px;
    font-size: 50px;
}
.attack-btn{
    width: 400px;
    height: 200px;
    font-size: 50px;
}

.hide{
    display: none!important;
}

.player-turn-label{
    font-size: 50px;
    color: white;
    justify-self: start;
    align-self: start;
    padding: 0 40px;
}
.player-turn-label::first-letter{ text-transform: capitalize;}

.player-name-label{
    font-size: 60px;
    color: white;
    position: fixed;
    top: 1120px;
    left: -350px;
    padding: 0 40px;
}
.player-name-label::first-letter{ text-transform: capitalize;}

.dice-number-label{
    position: absolute;
    top: -60px;
    font-size: 150px;
    color: white;
}

.damage-info{
    position: absolute;
    min-width: 300px;
    min-height: 100px;
    font-size: 60px;
    z-index: 99;
    margin: 0;
    color: white;
    left: 30px;
}

.damage-info__label{
    margin: 25px;
}








.tile-card{
    position: absolute;
    align-self: center;
    justify-self: center;
    width: 650px;
    height: 900px;
    background: rgba(155, 89, 28, 0.801);
    right: 160px;
}
.tile-card--anim-appear{
    animation: show-card 0.1s;
}
@keyframes show-card{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}
.tile-card__name{
    color: white;
    font-size: 50px;
    padding: 0 30px;
    margin: 20px 0;
}
.tile-card__image-container{
    min-width: 80%;
    height: 500px;
    margin: 0 50px;
    background: rgba(255, 255, 255, 0.459);
}
.tile-card__stats-container{
    position: relative;
    display: flex;
    color: white;
    font-size: 70px;
    list-style: none;
    bottom: -50px;
    left: 270px;
}
.tile-card__stat{
    display: grid;
    padding: 35px;
    margin: 10px;
    height: 70px;
    width: 70px;
    justify-content: center;
    align-content: center;
    background: rgba(82, 82, 202, 0.705);
    border-radius: 100%;
}
.stats__strength{
    background: rgb(255, 235, 55);
    color: #444;
}
.stats__life{
    background: rgb(255, 55, 88);
    color: rgb(7, 7, 7);
}
.stats__magic{
    background: rgb(161, 62, 161);
    color: white;
}





/* ______________________________________________________ */




.ui-action-btn{
    z-index: 999;
}


.character-overlay{
    position: fixed;
    width: 160%;
    height: 600px;
    background: rgba(209, 70, 15, 0.404);
    bottom: -700px;
    left: -35%;

    display: grid;
    align-items: center;
    justify-items: center;
}
.stats-container{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    list-style: none;
    display: flex;
    text-align: center;
    position: relative;
    top: 200px;
}
.stat-item{
    padding: 30px;
    margin: 0 20px;
    min-width: 200px;
    height: 120px;
    text-align: center; 
    border: solid 3px #ddd;
}
.stat-item:first-child{
    margin-left: -10px;
}
.stat-item__number{
    padding: 0;
    margin: 0;
}
.stat-item__label{
    padding: 0;
    margin: 10px;
}
